.hidden-pin-code {
  outline: none;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  .star {
    margin: 0.3rem;
    font-weight: 600;
    color: #303030;
    opacity: 0.8;
  }

  .star.active {
    opacity: 0.6;
  }
}

.pin-code-wrapper {
  position: relative;

  .floating-error {
    position: absolute;
    height: calc(60px + 0.6rem);
    top: 0;
    width: 21px;
    right: 17%;
  }
}