.reg-text {
  font-size: 14px;
  line-height: 1.2;
  max-height: calc(100vh - 329px - 11rem);
  overflow-y: scroll;
  color: #4D4D4D;
}
.reg-text b {
  font-weight: 500;
}

/*# sourceMappingURL=reg-rules.css.map */
