@import "auth/login-pin-code.scss";
@import "auth/login-sms.scss";
@import "auth/reg-rules.scss";
@import "profile.scss";


.login-container {
  max-width: 500px !important;

  input, select,textarea, .selectize-input {
    background: #F6F6F6;
    color: #A4AAAE;
  }

  input:focus, select:focus,textarea:focus, .selectize-input:hover, input:hover, select:hover,textarea:hover, .selectize-input.dropdown-active {
    background: unset;
    color: unset;
  }

  input[disabled], textarea[disabled], select[disabled] {
    background: #F6F6F6;
    color: #A4AAAE;
  }
  input::placeholder, textarea::placeholder {
    color: #A4AAAE !important;
  }
}